<div class=" mycontainer" id='bmi'>
  <div class="box mybox1">
    <p class='txt'>Body Mass Index (BMI)</p>
    <p class='txt1'>Body Mass Index (BMI) is a person’s weight in kilograms divided by the square of height in meters. A
      high BMI can indicate high body fatness. BMI screens for weight categories that may lead to health problems, but
      it does not diagnose the body fatness or health of an individual.</p>
    <p class='txt'> Body Fat Percentage (BFP) </p>
    <p class='txt1'>Body Fat Percent is calculated by dividing the total weight of the fat divided by the body weight.
      Every human needs to have a certain amount of essential fat. The essential fat percent varies hugely between women
      and men. Below is a chart of body fat percent ranges for women and men.
      There are several formulas used for calculating body fat percentage. This calculator uses the formula based on
      BMI. For people with high muscle mass or pregnancy, this BMI based calculator may give inaccurate result.
    </p>
    <div class='button' routerLink="/info/infores"><span class='btn-txt'>More Info<i class="fa fa-arrow-up myicon"
          aria-hidden="true"></i></span></div>
  </div>
  <div class="box">
    <app-bpcalculator></app-bpcalculator>
  </div>
</div>
